@page "/Profile/{id}"
<div class="container">
    <div class="profile">
        <div>
            <img src="@ImageHelper.GetImageLink(AccountViewModel.AvatarId)" alt="">
        </div>
        <p>@AccountViewModel.Name</p>
    </div>
    <div class="ads">

    </div>
</div>
