@using Common.Models
<div class="container-lg justify-content-start row my-5 mx-auto ">
    @if (Ads is {Count: > 0 })
    {
        @foreach (var ad in Ads)
        {
            <div class="w-auto m-3">
                <AdCard Ad=@ad></AdCard>
            </div>
        }
    }
</div>

@code {

    [Parameter]
    public List<Ad> Ads { get; set; } = new();

}